@import './../../../base.scss';

.services-section {
    background-color: $bg-color;
    padding: 35px;
    height: calc(50vh - 45px);

    & > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;

        h2 {
            font-size: $title-font-size;
            margin-bottom: 25px;
        }
    }
}