@import '../../base.scss';

.page-layout-btn {
    background-color: $bg-color;
    position: fixed;
    top: 28px;
    left: 30px;
    width: calc(100% - 60px);
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 100px;

    a {
        transform: translateY(5px);
    }
}
