@import '../../../base.scss';

@mixin imageDefaults {
    background-size: 100%;
    transition: ease 0.5s;
    background-position: center;

    &:hover {
        background-size: 110%;
    }
}
 
.project-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-color;
    padding: 35px;
    margin-bottom: 30px;
    height: calc(75vh - 60px);
    
    div.project-sec-content-responsive {
        display: none;
    }

    div.project-sec-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 100%;
        align-items: center;
        position: relative;
        

        h1 {
            font-size: $big-title-font-size;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        
        p {
            font-size: 0.45rem;
            text-align: justify;
            margin-bottom: 60px;
        }

        div.proj-sec-txt-btn {
            z-index: 2;
            width: 96%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        
        div.project-sec-img  {
            z-index: 1;
            height: 100%;
            width: calc(100% - 25px);
            margin-left: 25px;
            position: relative;

            @include imageDefaults;

            &::after {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: rgb(0,0,0);
                background: 
                    linear-gradient(163deg, 
                    rgba(0,0,0,0.5186449579831933) 0%, 
                    rgba(0,0,0,0.31976540616246496) 18%, 
                    rgba(0,0,0,0.15449929971988796) 34%, 
                    rgba(0,0,0,0) 50%);
            }
        }
    }

    @media screen and (max-width: 1000px) {
        height: auto;
        margin-right: 30px;
        margin-left: 30px;

        div.project-sec-content {
            display: none;
        }

        div.project-sec-content-responsive {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 { font-size: $big-title-responsive; }
            
            div.project-sec-img {
                width: 100%;
                height: 450px;
                @include imageDefaults;
                margin-top: 35px;
                margin-bottom: 35px;
            }
            
            p {
                font-size: $txt-responsive;
                margin-bottom: 35px;
            }
            
            a.white-btn { @include whiteBtnResponsive; }
        }
    }

    @media screen and (max-width: 700px) {
        div.project-sec-content-responsive {
            
            div.project-sec-img {
                height: 300px;
            }
        }
    }
}
