@import '../../base.scss';

.contact-page {
    @include pageDefaults;
    justify-content: center;

    h2 {
        font-size: $title-font-size;
    }

    div.contact-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 35px;

        a {
            color: white;
            font-size: $txt-font-size;
            cursor: pointer;

            img.arrow-link-icon {
                transform: rotate(140deg) translateY(-2px);
                height: 15px;
                margin-left: 7px;
            }

            img.github-icon {
                height: 20px;
                margin-right: 10px;
                transform: translateY(5px);
            }

            img.linkedin-icon {
                height: 19px;
                margin-right: 10px;
                transform: translateY(5px);
            }

            img.mail-icon {
                height: 15px;
                margin-right: 10px;
                transform: translate(-2px, 5px);
            }

            &:hover {
                text-decoration: underline;
            }

        }
    }

    @media screen and (max-width: 500px) {
        h2, div.contact-links {
            max-width: 80%;
        }
    }
}