@import './../../../base.scss';

.contact-section {
    background-color: $bg-color;
    display: flex;
    align-items: center;
    padding: 35px;
    height: calc(25vh - 30px);

    h2 {
        margin-left: 35px;
        font-size: $title-font-size;
    }

    a.contact-btn {
        width: 32%;
    }
}