@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');
@import 'reset';

$title-font-size: 1rem;
$big-title-font-size: 2.4rem;
$txt-font-size: 0.45rem;
$bg-color: #140F0F;

$big-title-responsive: 2.6rem;
$title-responsive: 1.4rem;
$txt-responsive: 0.6rem;

@mixin whiteBtnResponsive {
    height: 60px;
    width: 100%;
    font-size: $txt-responsive;
}

@mixin pageDefaults {
    margin: 30px;
    background-color: #140F0F;
    height: calc(100vh - 60px);
    width: calc(100vw - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin btnDefaults {
    font-size: $txt-font-size;
    cursor: pointer;
}

* {
    transition: ease 0.7s;
}

html {
    background-color: #FD7B32;
    font-size: 40px;
}

h1, h2, p {
    color: white;
}

h1, h2, button, p, span {
    font-family: 'IM FELL French Canon';
    font-style: normal;
    font-weight: 400;
}

.white-btn {
    @include btnDefaults;
    color: #140F0F;
    background-color: white;
    display: flex;
    height: 50px;
    justify-content: center;
}

.arrow-btn {
    @include btnDefaults;
    color: white;

    img {
        height: 15px;
        margin-right: 7px;
    }

    &:hover {
        text-decoration: underline;
    }
}

.show-content {
    transition: ease 0.5s;
    opacity: 1;
    transform: translateY(0px);
}

.hide-content {
    transition: ease 0.5s;
    opacity: 0;
    transform: translateY(-10px);
}
